[submodule "graph_core"]
	path = graph_core
	url = https://github.com/JRL-CARI-CNR-UNIBS/graph_core.git
	branch = master

[submodule "graph_ros_test"]
	path = graph_ros_test
	url = https://github.com/JRL-CARI-CNR-UNIBS/graph_ros_tests.git
	branch = master

[submodule "graph_display"]
	path = graph_display
	url = https://github.com/JRL-CARI-CNR-UNIBS/graph_display.git
	branch = master

[submodule "cnr_tf_named_object_loader"]
	path = cnr_tf_named_object_loader
	url = https://github.com/CNR-STIIMA-IRAS/cnr_tf_named_object_loader.git
	branch = master

[submodule "cnr_scene_manager"]
	path = cnr_scene_manager
	url = https://github.com/JRL-CARI-CNR-UNIBS/cnr_scene_manager.git
	branch = master

[submodule "moveit_collision_checker"]
	path = moveit_collision_checker
	url = https://github.com/JRL-CARI-CNR-UNIBS/moveit_collision_checker.git
	branch = master